<div id="form">

  <%= form_for @category do |c| %>
    # <% if false %>
    # <% if @transaction.errors.any? %>
    #   <div id="error_explanation">
    #     <h2>
    #       <%= pluralize(@transaction.errors.count, "error") %> prohibited
    #       this transaction from being saved:
    #     </h2>
    #     <ul>
    #       <% @transaction.errors.full_messages.each do |msg| %>
    #         <li><%= msg %></li>
    #       <% end %>
    #     </ul>
    #   </div>
    # <% end %>
    # <% end %>
  
  
    <p>
        <%= c.label :category %><br>
        <%= c.text_field :category %>
    </p>

    <%= c.fields_for :transactions do |t| %>
      <p>
          <%= t.label :business %><br>
          <%= t.text_field :business %>
      </p>

      <p>
          <%= t.label :amount %><br>
          <%= t.text_field :amount %>
      </p>
    

      <p>
          <%= t.submit "Submit!"%>
      </p>

    <% end %>
  
  <% end %>

</div>